@import '~antd/dist/antd.css';

a {
  color: rgba(0, 0, 0, 65);
}

.card {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  height: auto;
  border-radius: 4px;
  border: 1px solid #edeefa;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 0;
  align-items: center;
}

.card:hover {
  -webkit-box-shadow: 4px 10px 22px -18px rgba(45, 65, 240, 0.15);
  -moz-box-shadow: 4px 10px 22px -18px rgba(45, 65, 240, 0.15);
  box-shadow: 4px 10px 22px -18px rgba(45, 65, 240, 0.15);
}

.icon-block {
  text-align: center;
  width: 30px;
}

.info-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.tag-block {
  margin-left: auto;
  margin-right: 5px;
}

.menu-ellipses {
  margin-left: auto;
}

.ant-divider-horizontal {
  margin: 5px 0;
}

.project-title {
  display: flex;
  align-items: center;
}

.light {
  color: #939394;
  margin-left: 15px;
  margin-bottom: 0.5em;
}

.card-divider {
  display: block;
  clear: both;
  width: 100%;
  min-width: 100%;
  height: 1px;
  margin-top: 5px;
  background: #e1e1e2;
}

.card-link {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 15px 0 15px 20px;
}

.card-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .card-link {
    padding: 5px 0 5px 20px;
  }

  .card .project-title {
    font-size: 12px;
  }

  .card-timestamp {
    font-size: 11px;
  }

  .card .info-block {
    margin-right: 0;
  }
}
