@import '~antd/dist/antd.css';

p {
  margin-bottom: 0;
  margin-top: 0;
}

.landing-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
  top: 30px;
  z-index: 10;
}

.landing-buttons button {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.landing-buttons button {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.landing-buttons button:hover {
  border-color: #59d08f;
  color: #59d08f;
}

.banner {
  align-items: center;
  background-image: url("../img/camille_pissarro_gelee_blanche.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 900px; /* fallback for browsers without support for calc() */
  height: calc(100vh - 50px);
  justify-content: space-evenly;
  position: relative;
  top: -100px;
}

.banner-text {
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  color: black;
  font-size: 40px;
  line-height: 37px;
  max-width: 640px;
  min-height: 375px;
  min-width: 640px;
  width: 10%;
  padding: 10px 10px 420px 10px;
}

.banner-text form {
  height: 100px;
}

.banner-img {
  max-width: 482px;
  padding-top: 100px;
  width: 46%;
}

.banner-img img {
  width: 100%;
}

.page-1 {
  margin-top: -110px;
  text-align: center;
}

.page-1-heading p {
  font-size: 17px;
}

.page-1-heading {
  padding: 42px 42px 42px 42px;
}

.page-1-boxes {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 70px 0;
}

.page-1-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
}

.page-1-box h2 {
  padding-top: 20px;
}

.page-1-box p {
  font-size: 15px;
}

.page-1-box img {
  width: 50px;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-footer {
  align-items: center;
  background-color: #202123;
  color: #a6a6a7;
  display: flex;
  height: 70px;
  justify-content: space-around;
}

.landing-footer img {
  width: 100px;
}

@media only screen and (max-width: 767px) {
  .banner-img {
    display: none;
  }

  .banner-text {
    min-width: 90%;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }

  .landing-header {
    padding: 10px 10px 0 20px;
    margin-bottom: 80px;
  }

  .landing-buttons {
    padding: 0;
  }

  .page-1-box {
    margin: 20px;
  }

  .page-1-boxes {
    flex-direction: column;
    padding: 15px 0 40px 0;
  }

  .ant-form-item-control-wrapper input {
    width: 100%;
  }
}

@media only screen and (max-height: 450px) {
  .banner-img {
    width: 20%;
    padding-top: 190px;
  }

  .banner-text {
    margin-top: 100px;
  }

  .banner {
    height: 100%;
  }
}
