.chatbot-user-message {
  width : 80%;
  margin: auto;
  margin-right: 20px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 10px;
  justify-content: flex-end;
}

.chatbot-bot-message {
  width : 80%;
  margin: auto;
  margin-left: 20px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 6px;
}

.chatbot-user-message .message-icon {
  display: none;
}

.chatbot-bot-message .message-icon {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.chatbot-user-message .message-text {
  color: white;
  background-color: #0a96e7;
  width: auto;
  max-width: calc(100% - 90px);
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chatbot-bot-message .message-text {
  color: #263238;
  background-color: #f4f7f9;
  width: auto;
  max-width: calc(100% - 90px);
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chatbot-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
}

.chatbot-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-field-active {
  min-height: 55px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #f4f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color .2s ease,box-shadow .2s ease;
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.input-field-inactive {
  min-height: 60px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: rgb(241, 241, 241);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-text {
  width: 300px;
  outline: none;
  resize: none;
  border: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatbot-header {
  background: #0a96e7;
  min-height: 75px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.chatbot-header-img {
  width : 12%;
  margin: auto;
  padding: 10px;
  display: flex;
  border-radius: 6px;
}

.chatbot-header-title {
  align-self: center;
  margin-top: 5px;
  padding: 10px;
  flex: 1;
  user-select: none;
  border-radius: 5px;
}