@import '~antd/dist/antd.css';

body {
  overflow-x:hidden;
  width:100%;
}

.error-page {
  margin: auto;
  width: 50%;
  background-color: white;
  box-sizing: border-box;
  height: auto;
  border-radius: 4px;
  border: 1px solid #edeefa;
  margin-top: 20px;
  padding: 15px;
}


@media screen and (max-width: 767px) {
  .error-page {
    width: 95%;
  }
}
